In [1]:
s = "pwioi"

In [2]:
type(s)

str

In [3]:
s[0]

'p'

In [4]:
s[1]

'w'

In [5]:
s[2]

'i'

In [6]:
s[3]

'h'

In [6]:
s[-1]

'i'

In [7]:
s[-2]

'o'

In [8]:
a = "my name is imran"

In [9]:
a[-1]

'n'

In [10]:
a[0]

'm'

In [11]:
a[100]

IndexError: string index out of range

In [12]:
a

'my name is imran'

In [14]:
a[0:10]

'my name is'

In [16]:
b = "pwskills"

In [17]:
b[0:3]

'pws'

In [20]:
b[0:300]

'pwskills'

In [19]:
b[300]

IndexError: string index out of range

In [21]:
b[-100]

IndexError: string index out of range

In [22]:
b[-1:-4:-1]

'sll'

In [23]:
b[0:4]

'pwsk'

In [24]:
a = "kumar"

In [25]:
a[0:300:1]

'kumar'

In [26]:
a[0:300:3]

'ka'

In [27]:
a[0:100:-1]

''

In [28]:
a[-1:-4:-1]

'ram'

In [34]:
a[0:-10:-1]

'k'

In [35]:
a

'kumar'

In [36]:
a[::]

'kumar'

In [37]:
a[:8]

'kumar'

In [39]:
a[-2:-1]

'a'

In [40]:
a

'kumar'

In [41]:
a[::-1]

'ramuk'

In [30]:
a[-1::-1]

'sllikswp htiw gnikrow ma i'

In [32]:
a="imran"

In [33]:
a[:]

'imran'

In [35]:
a = "i am working with pwskills"

In [37]:
a[::-1]

'sllikswp htiw gnikrow ma i'

In [46]:
a[-5:5:-1]

'eni htiw gnikro'

In [38]:
a[-2:-10:-1]

'llikswp '

In [39]:
a[0:100:3]

'imoi tpkl'

In [49]:
"sudh"*3

'sudhsudhsudh'

In [50]:
"sudh" + "kumar"

'sudhkumar'

In [51]:
a

'i am working with ineuron'

In [40]:
len(a)

26

In [43]:
"pwskills"*5

'pwskillspwskillspwskillspwskillspwskills'

In [44]:
"pw" + "skills"

'pwskills'

In [46]:
a

'i am working with pwskills'

In [47]:
a.find("a")

2

In [48]:
a.find('k')

8

In [49]:
a.find('ia')

-1

In [50]:
a.find('in')

9

In [51]:
a.count('i')

4

In [52]:
a.count('k')

2

In [53]:
a

'i am working with pwskills'

In [60]:
l = a.split('i')

In [61]:
l

['', ' am work', 'ng w', 'th pwsk', 'lls']

In [62]:
type(l)

list

In [63]:
l[0]

''

In [69]:
l[1]

'am'

In [70]:
l[2]

'working'

In [64]:
l[0:3]

['', ' am work', 'ng w']

In [75]:
a.split('wo')

['i am ', 'rking with ineuron']

In [73]:
a

'i am working with ineuron'

In [76]:
a

'i am working with ineuron'

In [65]:
a.upper()

'I AM WORKING WITH PWSKILLS'

In [66]:
s = "ImRaN"

In [67]:
s.swapcase()

'iMrAn'

In [75]:
s.title()

'I Am Working With Pwskills'

In [73]:
s="i am working with pwskills"

In [74]:
s.capitalize()

'I am working with pwskills'

In [76]:
b = "imran"
c = "skills"

In [77]:
b.join(c)

'simrankimraniimranlimranlimrans'

In [78]:
" ".join("pw")

'p w'

In [87]:
for i in reversed("sudh"):
    print(i)

h
d
u
s

In [88]:
s= "sudh"
s[::-1]

'hdus'

In [80]:
s = " sudh "

In [82]:

x="pw"
y="ioi"

In [85]:
x.join(y)

'ipwopwi'

In [89]:
s= '      imran'

In [90]:
s.rstrip()

'      imran'

In [91]:
s.lstrip()

'imran'

In [95]:
s.strip()

'im       ran'

In [96]:
s = "pw skills"

In [98]:
s.replace("skills" , "ioi")

'pw ioi'

In [ ]:
i

In [99]:
"imran\tkumar".expandtabs()

'imran   kumar'

In [105]:
w="abc"

In [106]:
w

'abc'

In [107]:
s.center(100 , '#')

'#############################################pw skills##############################################'

In [117]:
b="      indians are the best in the world"
b.strip("")

'      indians are the best in the world'

In [103]:
b="      indians are the best in the world"
b.strip()

'indians are the best in the world'

In [120]:
s = "PW"

In [121]:
s.isupper()

True

In [122]:
s.islower()

False

In [125]:
s= ""

In [126]:
s.isspace()

False

In [131]:
s = "PW34"

In [132]:
s.isdigit()

False

In [141]:
s = "Imran"

In [135]:
s.endswith('N')

True

In [137]:
s.startswith('I')

True

In [142]:
s.istitle()

True

In [143]:
s.encode()

b'Imran'

In [175]:
s = "sdfsaf dsaf safasdf asdfsadfdas fadf dfa fadfa dsaf adfsa"

# List

In [176]:
l = ["sudh" , "kumar" , 3543 , 4+6j , True , 345.56]

In [177]:
type(l)

list

In [178]:
l[0]

'sudh'

In [179]:
l[-1]

345.56

In [180]:
l[-5]

'kumar'

In [181]:
l

['sudh', 'kumar', 3543, (4+6j), True, 345.56]

In [182]:
l[0:4]

['sudh', 'kumar', 3543, (4+6j)]

In [183]:
l[::-1]

[345.56, True, (4+6j), 3543, 'kumar', 'sudh']

In [184]:
l[-1:6]

[345.56]

In [185]:
type(l[0])

str

In [186]:
type(l[4])

bool

In [190]:
l[0][1]

'u'

In [191]:
l[3].imag

6.0

In [193]:
l1 = ["aman" , "kumar" , 4356]
l2 = ["xyz" , "pqr" , 546.567]

In [194]:
l1+l2

['aman', 'kumar', 4356, 'xyz', 'pqr', 546.567]

In [196]:
l1 + ["ravi"]

['aman', 'kumar', 4356, 'ravi']

In [200]:
l1
# orginal list

['aman', 'kumar', 4356]

In [201]:
l1*2

['aman', 'kumar', 4356, 'aman', 'kumar', 4356]

In [202]:
l1

['aman', 'kumar', 4356]

In [203]:
l1[0] =4356455634564

In [204]:
l1

[4356455634564, 'kumar', 4356]

In [205]:
l1[1]

'kumar'

In [207]:
s = "ravi"

In [209]:
s[0] = "R"
# 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [216]:
l1

[4356455634564, 'kumar', 4356]

In [226]:
l1[1] = "ravi"

In [227]:
l1

['pw', 'ravi', 12, 2.3]

In [220]:
s.replace('i','v')
# 'str' object does not support item assignment we can use replace function

'ravv'

In [221]:
s

'ravi'

In [222]:
l1=["pw",True,12,2.3]

In [223]:
type(l1)

list

In [225]:
len(l1)
# len function count number of elements in the list

4

In [230]:
"PW" in l1

# membership operator
#The 'in' operator in Python is straightforward to use. It checks whether a value exists in a sequence (such as a list, tuple, or string) and returns a Boolean value: 
#True if the value is in the sequence, and False if it's not.

False

In [231]:
l = ['okay','kumar', 78,45,789,5.5,True, 5+8j]

In [232]:
l[0:3]

['okay', 'kumar', 78]

In [233]:
l1

['pw', 'ravi', 12, 2.3]

In [234]:
l1.append("imran")

In [235]:
l1

['pw', 'ravi', 12, 2.3, 'imran']

In [236]:
l1.pop()

'imran'

In [237]:
l1

['pw', 'ravi', 12, 2.3]

In [239]:
l1.pop(3)

2.3

In [240]:
l1

['pw', 'ravi', 12]

In [241]:
l2

['xyz', 'pqr', 546.567]

In [242]:
l2.pop(2)

546.567

In [243]:
l2

['xyz', 'pqr']

In [244]:
l2

['xyz', 'pqr']

In [245]:
l2.append(345435)

In [247]:
l2

['xyz', 'pqr', 345435]

In [248]:
l2.insert(1,"dsgadfgda")

In [249]:
l2

['xyz', 'dsgadfgda', 'pqr', 345435]

In [250]:
l2.insert(3,[34,45,56,576,67])

In [251]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [252]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [253]:
'''
The difference is that with append, you just add a new entry at the end of the list. With insert(position, new_entry)
you can create a new entry exactly in the position you want.


'''

'\nThe difference is that with append, you just add a new entry at the end of the list. With insert(position, new_entry)\nyou can create a new entry exactly in the position you want.\n\n\n'

In [255]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [256]:
l2[::-1]

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [257]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [258]:
l2.reverse()

In [259]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [199]:
l1

[4356455634564, 'kumar', 4356]

In [260]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [261]:
l2[1][2]

56

In [262]:
l2[1][2]

56

In [263]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [264]:
l2.count('xfddsfsfyz')
#The count() method returns the number of elements with the specified value.

0

In [265]:
l2.count("pqr")

1

In [266]:
l2.append("pqr")

In [267]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz', 'pqr']

In [268]:
l2.count("pqr")

2

In [271]:
l1

['pw', 'ravi', 12]

In [272]:
l1.extend([2,54,656, "sdfs"])

In [273]:
l1

['pw', 'ravi', 12, 2, 54, 656, 'sdfs']

In [276]:
l1.reverse()

In [277]:
l1

['sdfs', 656, 54, 2, 12, 'ravi', 'pw']

In [278]:
# Difference between Append, Extend and Insert

In [281]:
'''
append adds a single element to the end of the list.
extend adds all elements from an iterable to the end of the list.
insert inserts a single element at a specified index in the list



'''

'\nappend adds a single element to the end of the list.\nextend adds all elements from an iterable to the end of the list.\ninsert inserts a single element at a specified index in the list\n\n\n\n'

In [282]:
l1=[1,2,3]

In [283]:
'''
The list() function in Python is used to convert an iterable (such as a string, tuple
 or dictionary) into a list. It takes an iterable as an argument and returns a list with each element of the iterable as an item in the list.




'''

'\nThe list() function in Python is used to convert an iterable (such as a string, tuple\n or dictionary) into a list. It takes an iterable as an argument and returns a list with each element of the iterable as an item in the list.\n\n\n\n\n'

In [285]:
list("pwskills")

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [290]:
# list(1234)

# we will learn what is iterable and iterator

# # REVISION  (OPTIONAL)

In [289]:
l1=[43,4343]
l1+list('sudh')
l1+['sudh']

[43, 4343, 'sudh']

In [217]:
list("sudh")

['s', 'u', 'd', 'h']

In [220]:
s.endswith("")

False

In [221]:
s

'sudh'

In [222]:
l = ["sudh " , 345,4354353,4353]

In [223]:
l.append("kumar")

In [224]:
l

['sudh ', 345, 4354353, 4353, 'kumar']

In [225]:
l.append([2,3,4,5,6])

In [226]:
l

['sudh ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6]]

In [230]:
l.extend([1,2,3,4])

In [231]:
l

['sudh ',
 345,
 4354353,
 4353,
 'kumar',
 [2, 3, 4, 5, 6],
 's',
 'u',
 's',
 'd',
 'f',
 's',
 'f',
 1,
 2,
 3,
 4]

In [232]:
[2,3,4,4,5,76]  + [4,5,6,77]

[2, 3, 4, 4, 5, 76, 4, 5, 6, 77]

In [236]:
"fdsaffsafsafd afsa saf asdfa sdsaf afsad ".split('&')

['fdsaffsafsafd afsa saf asdfa sdsaf afsad ']

In [237]:
3 +4j

(3+4j)

In [239]:
L=['sudh', 'kumar', 3543, 4+6j, True, 345.6]
L[-1:6]

[345.6]

In [240]:
"dfdasfasfda\tsafasf\t\tfadsfsafdsaf\t".expandtabs()

'dfdasfasfda     safasf          fadsfsafdsaf    '

In [241]:
a = "I am working in ineuron"

a[0:-10:-1] gives blank but a[0:-100:-1] gives I
Can you please explain this?

SyntaxError: invalid syntax (<ipython-input-241-fef3cd6af93b>, line 3)

In [242]:
a = "I am working in ineuron"

In [243]:
a[0:-10:-1]

''

In [245]:
a[0:-100:-1]

'I'

In [246]:
a[0::-1]

'I'

In [ ]:
l2=['prweu', 5345]
l3=l2
l3[0]='newatl3'
print(l3)
print(l2)
o/p ['newatl3', 5345]
o/p ['newatl3', 5345] 
why it has changed l2?


s1='sudh'
s2=s1
s2='newdata'
print(s1)                 in this case why it has not changed s1?
print(s2)
'sudh'
'newdata'

In [247]:
l2=['prweu', 5345]
l3=l2

In [259]:
l2

['sudh', 5345]

In [260]:
l3

['dsfdsafsa', 5, 6, 7, 7]

In [256]:
l3 = [4,5,6,7,7]

In [258]:
l3[0] = "dsfdsafsa"

In [249]:
l3[0] = "sudh"

In [250]:
l3

['sudh', 5345]

In [251]:
l2

['sudh', 5345]

In [253]:
s1='sudh'
s2=s1
s2='newdata'

In [254]:
s2

'newdata'

In [255]:
s1

'sudh'

In [270]:
l1= [569, "Sudh", "ravi"]

In [273]:
g = l1[2].replace('v',"s")

In [267]:
l1.pop()

'ravi'

In [274]:
l1.append(g)

In [276]:
l1.pop(2)

'ravi'

In [277]:
l1

[569, 'Sudh', 'rasi']

In [279]:
l=['ved', 12,True]
l[0]=str(l[0].replace('e', 'E') )

In [280]:
l

['vEd', 12, True]

In [285]:
s = 'USA fdf'

In [286]:
s.isupper()

False

In [289]:
l = ["sunny" , "gadhiya" , "9999" , 9+9j , True , 99.9]

In [291]:
l[3].imag

9.0

In [292]:
l[3].real

9.0

In [295]:
s = ['abc','pqr','xyz']
s.pop(1)

'pqr'

In [297]:
" ".join("sudh") + " "

's u d h '

In [298]:
s

['abc', 'xyz']

In [299]:
s = "sudh"

In [300]:
s.index('d')

2

In [302]:
l = [3,4,5,6]

In [303]:
l.index(5)

2

In [ ]:
s = "sudh"

In [306]:
list = [43,4343]
l1+list('sudh')
l1+['sudh']

TypeError: 'list' object is not callable

In [3]:
l1= [43,4343]

In [4]:
l1+list('sudh')

[43, 4343, 's', 'u', 'd', 'h']

In [5]:
list("sudh")

['s', 'u', 'd', 'h']

In [6]:
l1+['sudh']

[43, 4343, 'sudh']

In [1]:
list("sudh")

['s', 'u', 'd', 'h']

In [2]:
l = [4,5,6,6]

In [7]:
l.insert(-1,45)

In [8]:
l

[4, 5, 6, 'sudh', 45, 45, 6]

In [5]:
l.insert(3,"sudh")

In [6]:
l

[4, 5, 6, 'sudh', 45, 6]

In [10]:
type(l[3])

str

In [ ]:
s = "sudh"

In [ ]:
l2 =[1,2]
l2[2] = 3 Why can't assign l2[2] = 3

In [11]:
a = 'i am working with ineuron'
a[-5:5:-1]

'eni htiw gnikro'